body, html {
  overflow-x: hidden; /* Removes horizontal scrolling */
  overflow-y: auto; /* Keeps vertical scrolling */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  position: relative;
  overflow: hidden;
  
}

.home-content {
  font-size: 2rem; /* Increased heading size */
  font-weight: bold;
  text-align: center;
  position: relative;
  z-index: 2; /* Ensures text stays on top */
  max-width: 700px;
  color: #319b31; /* Change text color for better contrast */
}

.home-content1{
  font-size: 2rem; /* Increased heading size */
  font-weight: bold;
  text-align: center;
  position: relative;
  z-index: 2; /* Ensures text stays on top */
  max-width: 700px;
  color: #085008;

}

.home-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%; /* Adjust size as needed */
  height: auto;
  opacity: 0.2; /* Makes the logo faint so text is readable */
  z-index: 1; /* Ensures logo stays behind text */
}

.home-logo-title {
  width: 150px; /* Adjust size as needed */
  height: auto;
  margin-top: 10px;
}

.home-subtitle {
  font-size: 14px;
  color: #005a3e;
}

.home-btn {
  background-color: #008040;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 50px;
  border-radius: 8px;
}

.home-btn:hover {
  background-color: #006633;
}
